
.companyDetails .contentFrame img{
    width:100%;
}

.footprint .logs-list li div i{
    color: #f69600;
}


.see-card .list li i{
    color: #f79700;
}
#__vconsole{
    display: none;
}
.v_console_show{
    width:20px;
    height:40px;
    position: fixed;
    top: 0;
    left: 0;
    z-index:999;
}
.nodata{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.follow .weui-cell .weui-cell__ft .weui-icon-checked{
    display: none !important;
}