.vux-popup-header-right{
  color: #5977fe !important;
}
.vux-popup-picker-select-box{
  color: #717171;
}
.weui-cell_access .weui-cell__ft:after{
  width: 0.2rem !important;
  height: 0.2rem !important;
}
.xs-plugin-pullup-container{
  bottom: -55px !important;
}
.weui-cells_radio{
  .vux-radio-label{
    font-weight: normal;
  }
}