.vux-popup-header-right{
  color: #5977fe !important;
}
.vux-popup-picker-select-box{
  color: #717171;
}
.weui-cell_access .weui-cell__ft:after{
  width: 0.2rem !important;
  height: 0.2rem !important;
}
.xs-plugin-pullup-container{
  bottom: -55px !important;
}
.weui-cells_radio{
  .vux-radio-label{
    font-weight: normal;
  }
}
/*日历组件增加年月日时分*/
.dp-content{
  [data-role='year']{
    .scroller-item:after{
      content: '年';
    }
  }
  [data-role='month']{
    .scroller-item:after{
      content: '月';
    }
  }
  [data-role='day']{
    .scroller-item:after{
      content: '日';
    }
  }
  [data-role='hour']{
    .scroller-item:after{
      content: '时';
    }
  }
  [data-role='minute']{
    .scroller-item:after{
      content: '分';
    }
  }
}
